.infoWindowTable table {
  padding: 2em;
}

.infoWindowTable th,
.infoWindowTable td {
  border-bottom: 1px solid #ddd;
}
.infoWindowTable th,
.infoWindowTable td {
  padding: 0.5em 1.5em;
  text-align: left;
}

#map {
  background-repeat: no-repeat;
  background-position: 10px 10px;
  position: absolute;
  z-index: 1;
}

#floating-panel2 {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 2;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

.combinedMapForm {
  top: 0.15rem !important;
  right: 0.8rem !important;
  z-index: 1000 !important;
  /* display: inline-flex;
  gap: 0.5em;
  width: 50%;
  flex-wrap: wrap; */
}
